<div class="container__menu-bar">
  <ul>
    <li><span>•</span></li>
    <li><span>•</span></li>
    <li><a href="https://www.linkedin.com/in/marcus-rodrigues-a2a0b048/">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/marcusvpr">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.youtube.com/channel/UCFkLibxAUliV9XMJPchQGnA">Youtube</a></li>
    <li><span>•</span></li>
    <li><a href="https://mpxds.com.br">Portfolio</a></li>
    <li><span>•</span></li>
    <li><span>•</span></li>
  </ul>
</div>
